<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Watch Shetland Online </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://iwatchonline.to/feed" />
        <link rel="search" type="application/opensearchdescription+xml" title="Iwatchonline Search" href="/opensearch.xml"/> -->
        <meta name="description" content="some descripton">
        <meta name="keywords" content="keywrs , sfs">
        <!-- <meta name="author" content="sfds"> -->

        <!-- <meta property="og:title" content="Watch Shetland Online">
        <meta property="og:description" content="Shetland is a drama series adapted from the series of books by award-winning crime writer Ann Cleeves. The murder-mystery is set against the stunning backdrop of the Shetland Islands and centres on Detective Jimmy Perez played by Douglas Henshall.">
        <meta property="og:type" content="Video.movie">
        <meta property="og:url" content="http://www.iwatchonline.to/tv-shows/44428-shetland">
        <meta property="og:image" content="http://www.iwatchonline.to/assets/images/covers/261109-2.jpg">
        <meta property="og:site_name" content="iwatchonline">
        <meta property="fb:app_id" content="540307835991809"> -->

        <!-- Le styles -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="/assets/css/style2.css" rel="stylesheet">
        <link href="/assets/css/style.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <body>

        <div class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bar"></span>
                        <span class="fa fa-bar"></span>
                        <span class="fa fa-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">TVClone</a>
                </div>
                <div class="navbar-collapse collapse">
                    <div class="navbar-left">
                        <form class="navbar-form navbar-left">
                            <input type="text" class="form-control" placeholder="Search here...">
                        </form>
                        <ul class="nav navbar-nav navbar-left">
                            <li class=""><a href="http://www.iwatchonline.to/latest_movies">Latest Updates</a></li>
                            <li class=""><a href="http://www.iwatchonline.to/tv-schedule">TV Schedule</a></li>
                            <li class=""><a href="http://www.iwatchonline.to/requests">Requests</a></li>
                        </ul>
                    </div>
                    <div class="btn-group navbar-right navbar-btn">
                        <a class="btn btn-primary" href="http://www.iwatchonline.to/member/sign"><i class="fa fa-share-alt fa fa-white"></i> Register</a>
                        <a class="btn btn-primary" href="http://www.iwatchonline.to/member/sign"><i class="fa fa-user fa fa-white"></i> Login</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="container wrapper">
            <section>
                <h2>Shetland  <small class="pull-right">UK - 60 - <a href="#2013">2013</a></small></h2>
            </section>

            <br>
            <section class="show-info row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="cover.jpg" alt="Shetland Show Poster" />
                    </div>

                    <div class="text-center raiting">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>

                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-primary" title="Remove from WatchList" href="#"><span class="fa fa-trash-o"></span></a>
                        <a class="btn btn-primary" title="Add to Favorite" href="#"><span class="fa fa-heart"></span></a>
                        <a class="btn btn-primary" title="Add to WatchList" href="#"><span class="fa fa-plus"></span></a>
                        <a class="btn btn-primary" title="Already Watched" href="#"><span class="fa fa-check"></span></a>
                    </div>
                </div>

                <div class="col-md-5">
                    <table class="table table-condensed">
                        <tr>
                            <td class="sideleft">Status: </td>
                            <td class="sideleft">Returning Series</td>
                        </tr>
                        <tr>
                            <td class="sideleft">TV Channel: </td>
                            <td class="sideleft">BBC one</td>
                        </tr>
                    </table>
                    <p class="description">Shetland is a drama series adapted from the series of books by award-winning crime writer Ann Cleeves. The murder-mystery is set against the stunning backdrop of the Shetland Islands and centres on Detective Jimmy Perez played by Douglas Henshall.</p>
                    <div>
                        <a class="label label-primary" href="#">Family</a>
                        <a class="label label-primary" href="#">Drama</a>
                        <a class="label label-primary" href="#">Crime</a>
                    </div>

                    <br>
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-small btn-primary" data-toggle="modal"  href="#usersignin"><i class="fa fa-plus"></i> Add New Link</a>
                        <a class="btn btn-small btn-warning" data-toggle="modal"  href="#usersignin">Request Links</a>
                        <a href="http://www.webtrackerplus.com/?page=flowplayer&a_aid=51d2e7bdb0de3&a_bid=72491354" target="_blank" class="btn btn-info"=>Stream in HD <i class="fa fa-play fa fa-white"></i></a>
                    </div>
                </div>

                <div class="col-md-4">
                    <script type="text/javascript" src="http://www.adcash.com/script/java.php?option=rotateur&rotateur=188851"></script>
                </div>
            </section>

            <br><hr>

            <section class="user-buttons">
                <div class="clearfix">
                    <h3 class="pull-left">Episdoe Guide For Show: Shetland</h3>
                    <div class="pull-right">
                        <!--  Share Buttons  -->
                    </div>
                </div>

                <div class="movie-links">
                    <div class="panel-group" id="accordion">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <i class="fa fa-plus"></i>  Season 02
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <table class="table table-hover table-striped">
                                        <tbody>
                                            <tr class="unwatched">
                                                <td class="sideleft"><a href="http://www.iwatchonline.to/episode/44428-shetland-dead-water-part-1-s02e03"><i class="fa fa-play-circle"></i> Episode 03</a></td>
                                                <td>Dead Water - Part 1</td>
                                                <td><div class="pull-right"><div class="star" data-rating="0"></div></div></td>
                                                <td>09:00 pm</td>
                                                <td>
                                                    <div  class="pull-right">
                                                        <button class="btn btn-warning btn-small disabled" href="#">40 Links</button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="unwatched">
                                                <td class="sideleft"><a href="http://www.iwatchonline.to/episode/44428-shetland-raven-black-part-2-s02e02"><i class="fa fa-play-circle"></i> Episode 02</a></td>
                                                <td>Raven Black - Part 2</td>
                                                <td><div class="pull-right"><div class="star" data-rating="10"></div></div></td>
                                                <td>09:00 pm</td>
                                                <td>
                                                    <div  class="pull-right">
                                                        <button class="btn btn-warning btn-small disabled" href="#">6 Links</button>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="show-sec-last">
                <div class="tabbable">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#comments" data-toggle="tab"><i class="fa fa-comment"></i> Comments</a></li>
                        <li class=""><a href="#reviews" data-toggle="tab"><i class="fa fa-user"></i> Reviews</a></li>
                        <li class=""><a href="#soundtracks" data-toggle="tab"><i class="fa fa-music"></i> SoundTracks</a></li>
                        <li><a href="#similiar" data-toggle="tab">More Like This</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="comments">
                            <div class="fb-comments" data-href="http://www.iwatchonline.to/tv-shows/44428-shetland" data-width="935" data-numposts="5" data-colorscheme="light"></div>
                        </div>

                        <div class="tab-pane " id="reviews">
                            <a class="pull-right"  data-toggle="modal"  href="#usersignin">Add a Review</a>
                        </div>

                        <div class="tab-pane " id="soundtracks">
                            <a class="pull-right"  data-toggle="modal"  href="#usersignin">Add Soundtrack</a>
                        </div>

                        <div class="tab-pane" id="similiar">
                            <ul class="thumbnails list-inline">
                                <li class="col-md-2">
                                    <a href="http://www.iwatchonline.to/tv-shows/1248-covert-affairs" class="thumbnail"  title="Covert Affairs ( 2010 )" rel="tooltip">
                                        <img class="thumbimg" src="http://www.iwatchonline.to/assets/images/covers/1248_cover-affaire-1341963561.jpg" alt="">
                                        <div class="caption">Covert Affai...</div>
                                    </a>
                                </li>
                                <li class="col-md-2">
                                    <a href="http://www.iwatchonline.to/tv-shows/1249-deadliest-catch" class="thumbnail"  title="Deadliest Catch ( 2005 )" rel="tooltip">
                                        <img class="thumbimg" src="http://www.iwatchonline.to/assets/images/covers/_DeadliestCatch_1311812191.jpg" alt="">
                                        <div class="caption">Deadliest Ca...</div>
                                    </a>
                                </li>
                                <li class="col-md-2">
                                    <a href="http://www.iwatchonline.to/tv-shows/1257-single-ladies" class="thumbnail"  title="Single Ladies ( 2011 )" rel="tooltip">
                                        <img class="thumbimg" src="http://www.iwatchonline.to/assets/images/covers/226881-4.jpg" alt="">
                                        <div class="caption">Single Ladie...</div>
                                    </a>
                                </li>
                                <li class="col-md-2">
                                    <a href="http://www.iwatchonline.to/tv-shows/1260-the-big-c-hereafter" class="thumbnail"  title="The Big C: Hereafter ( 2010 )" rel="tooltip">
                                        <img class="thumbimg" src="http://www.iwatchonline.to/assets/images/covers/_TheBigC_1311841527.jpg" alt="">
                                        <div class="caption">The Big C: H...</div>
                                    </a>
                                </li>
                                <li class="col-md-2">
                                    <a href="http://www.iwatchonline.to/tv-shows/1261-the-looney-tunes-show-2011-" class="thumbnail"  title="The Looney Tunes Show (2011) ( 2011 )" rel="tooltip">
                                        <img class="thumbimg" src="http://www.iwatchonline.to/assets/images/covers/_TheLooneyTunesShow_1311841593.jpg" alt="">
                                        <div class="caption">The Looney T...</div>
                                    </a>
                                </li>
                                <li class="col-md-2">
                                    <a href="http://www.iwatchonline.to/tv-shows/1260-the-big-c-hereafter" class="thumbnail"  title="The Big C: Hereafter ( 2010 )" rel="tooltip">
                                        <img class="thumbimg" src="http://www.iwatchonline.to/assets/images/covers/_TheBigC_1311841527.jpg" alt="">
                                        <div class="caption">The Big C: H...</div>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </section>


        </div>




    <footer class="footer">
        <div class="container">

            <div class="row">
                <div class="pagination pull-left">
                    <ul class="list-inline">
                        <li><a href="http://forum.iwatchonline.to/index.php?app=core&module=help" arget="Blank">Faq</a></li>
                        <li><a href="/page/privacy" target="Blank">Privacy policy</a></li>
                        <li><a href="/page/tos" target="Blank">Terms of service</a></li>
                        <li><a href="/page/contactus" target="Blank">Contact us</a></li>
                    </ul>
                    <p class="copyright"> © 2013 <strong>Iwatchonline.</strong> All Rights Reserved. </p>
                </div>

                <div class="pull-right">
                    <div class="pagination">
                        <ul class="list-inline">
                            <li><a data-rel="tooltip" data-placement="top" data-original-title="Follow us on Twitter" href="http://twitter.com/iwatchonlinenew/" target="Blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a data-rel="tooltip" data-placement="top" data-original-title="Share us on Pinterest" href="http://pinterest.com/iwatchonline/" target="Blank"><i class="fa fa-pinterest"></i></a></li>
                            <li><a data-rel="tooltip" data-placement="top" data-original-title="Like us on Facebook" href="http://www.facebook.com/iwatchonline" target="Blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a data-rel="tooltip" data-placement="top" data-original-title="+1 us on Google+" href="https://www.google.com/+IwatchonlineTo" target="Blank" rel="publisher"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </footer> <!-- /container -->

<div id="usersignin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h4 id="myModalLabela">Login to do this</h4>
  </div>
  <div class="modal-body">
        <div class="login-content">
        <form action="http://www.iwatchonline.to/member/login_ajax" method="post" accept-charset="utf-8" class="form-horizontal" id="ajaxLogin">
            <div class="control-group">
            <label class="control-label" for="login_username">Username</label>
            <div class="controls">
              <input type="text" id="login_username" name="login_username">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="login_pass">Password</label>
            <div class="controls">
              <input type="password" id="login_pass" name="login_pass">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" name="remember"> Remember me
              </label>
              <button type="submit" name="login" class="btn btn-primary btn-success">Sign in</button>
        <br><br>
        <div>
              <a href="http://www.iwatchonline.to/hauth/login/Facebook" rel="tooltip" data-original-title="Login with Facebook"><img src="http://www.iwatchonline.to/assets/images/facebook.png" alt="" ></a>
              <a href="http://www.iwatchonline.to/hauth/login/Twitter" rel="tooltip" data-original-title="Login with Twitter"><img src="http://www.iwatchonline.to/assets/images/twitter.png" alt="" ></a>
              <a href="http://www.iwatchonline.to/hauth/login/Google" rel="tooltip" data-original-title="Login with Google"><img src="http://www.iwatchonline.to/assets/images/login-google-fa fa.png" alt="" ></a>
              <br><br>
              <a href="http://www.iwatchonline.to/member/forgot_password">Reset your Password</a><br>
              <a href="http://www.iwatchonline.to/member/sign">Register new account</a>
        </div>
            </div>
          </div>
        </form>
        <div class="clearfix"></div>
        <center><img src="http://www.iwatchonline.to/assets/images/ajax-loader.gif" alt="" class="ajax" /></center>
       </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>




<!-- trailer -->
<div id="trailer" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h4 id="myModalLabel">Shetland Trailer</h4>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="http://www.iwatchonline.to/assets/js/jquery.raty.min.js"></script>
        <script src="http://www.iwatchonline.to/assets/js/jquery.shorten.1.0.js"></script>
        <script src="http://www.iwatchonline.to/assets/js/sortabletable.js"></script>
        <script type="text/javascript">
            $("[data-rel=tooltip]").tooltip();
        </script>

        <a href="#" id="toTop" style="display: inline;"><span id="toTopHover" style="opacity: 0;"></span>To Top</a>

    </body>
</html>